/* CURRENTLY IN: styles/main.css */
body {
	background-attachment: fixed;
	background-image: url(https://stephencastleberry.files.wordpress.com/2016/05/instagram-background.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 16px;
	font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 50px;
}

#app .container {
	opacity: 0.75;
}

.i-logo {
	width: 75px;
}

.tron {
	font-weight: 700;
}

h1.tron {
	font-size: 40px;
}

h2.tron {
	font-size: 30px;
}

h3.tron {
	font-size: 20px;
}

#app .card {
	width: 50%;
}

.feed {
	padding: 25px 0px;
}

.content div, i, p {
	padding: 5px 0px;
}

.mods {
	font-size: 24px;

}

.trash:hover {
	color: red;
}

.edit:hover {
	color: #2558D8;
}

.preview_img {
	width: 100px;
}


/* these below are weird */

.ui.card {
	width: 50%;
	margin: auto;
	margin-top: 25px;
}

.ui.three.stackable.cards {
	width: 33%;
	margin: auto;
	display: inline-block;
}

.clearfix {
	clear: both;
	content: "";
	display: block;

}

/*@media only screen and (max-width: 1350px) {
   .ui.card {
	width: 50%;
	margin: auto;
	margin-bottom: 10px;
    }
}
*/
/*@media only screen and (max-width: 650px) {
   .ui.card {
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
	}
}

*/


